CONTRAIL_VERSION="${CONTRAIL_VERSION}"
CONTRAIL_REGISTRY="${REGISTRY_IP}:${REGISTRY_PORT}"
CONTRAIL_REPOSITORY="http://${RPM_REPO_IP}"
BUILD_TEST_CONTAINER=1
VENDOR_NAME='TungstenFabric'
VENDOR_DOMAIN='io.tungsten'
