LINUX_DISTR=${LINUX_DISTR}
CONTRAIL_CONTAINER_TAG="${CONTRAIL_CONTAINER_TAG}"
CONTRAIL_DEPLOYERS_TAG="${CONTRAIL_CONTAINER_TAG}"
CONTRAIL_REGISTRY="${REGISTRY_IP}:${REGISTRY_PORT}"
CONTRAIL_REPOSITORY="http://${RPM_REPO_IP}:${RPM_REPO_PORT}"
DEPLOYERS_BASE_CONTAINER="${REGISTRY_IP}:${REGISTRY_PORT}/contrail-general-base:${CONTRAIL_CONTAINER_TAG}"
CONTRAIL_PARALLEL_BUILD=$CONTRAIL_PARALLEL_BUILD
CONTRAIL_BUILD_FROM_SOURCE=${CONTRAIL_BUILD_FROM_SOURCE}
VENDOR_NAME="$VENDOR_NAME"
VENDOR_DOMAIN="$VENDOR_DOMAIN"
