LINUX_DISTR=${LINUX_DISTR}
LINUX_DISTR_VER=${LINUX_DISTR_VER}
CONTRAIL_CONTAINER_TAG="${CONTRAIL_CONTAINER_TAG}"
CONTRAIL_DEPLOYERS_TAG="${CONTRAIL_CONTAINER_TAG}"
CONTRAIL_REGISTRY="${CONTAINER_REGISTRY}"
CONTRAIL_REPOSITORY="http://localhost:${RPM_REPO_PORT}"
DEPLOYERS_BASE_CONTAINER="${CONTAINER_REGISTRY}/contrail-general-base:${CONTRAIL_CONTAINER_TAG}"
CONTRAIL_PARALLEL_BUILD=$CONTRAIL_PARALLEL_BUILD
CONTRAIL_BUILD_FROM_SOURCE=${CONTRAIL_BUILD_FROM_SOURCE}
VENDOR_NAME="$VENDOR_NAME"
VENDOR_DOMAIN="$VENDOR_DOMAIN"
